<div class="row">
	<% @results.each do |match|%>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<div class="caption text-center">
				<h3><%= match["description"].capitalize %></h3>
				<h4><%= match["category"] %></h4>
				<h4><%= match["date"] %></h4>
				<p>
					<%#= link_to "Update", edit_match_path(id: match["objectId"]), class: "btn btn-primary" %>
					<%#= link_to "Delete", match_path(id: match["objectId"]), {method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"} %>
				</p>
			</div>
		</div>
		<table class="table table-bordered table-striped col-sm-6 col-md-4">
			<thead>
				<tr>
					<th>Property</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr><td>place</td><td><%= match["place"] %></td></tr>
				<tr><td>played</td><td><%= match["played"] %></td></tr>
				<tr><td>matchday</td><td><%= match["matchday"] %></td></tr>
				<tr><td>minplayers</td><td><%= match["minplayers"] %></td></tr>
				<tr><td>maxplayers</td><td><%= match["maxplayers"] %></td></tr>
				<tr><td>created at</td><td><%= I18n.l Time.parse(match["createdAt"]) %></td></tr>
				<tr><td>updated at</td><td><%= I18n.l Time.parse(match["updatedAt"]) %></td></tr>
				<tr><td>chrono</td><td><%= match["chrono"] %></td></tr>
				<tr><td>events</td><td><%= match["events"] %></td></tr>
			</tbody>
		</table>
	</div>
	<% end %>
</div>

