<div class="form-group">
	<div class="col-md-12">
		<%= label_tag :first_name %>
		<%= text_field_tag :first_name %>
	</div>
</div>
<div class="form-group">
	<div class="col-md-12">
		<%= label_tag :last_name %>
		<%= text_field_tag :last_name %>
	</div>
</div>
<div class="form-group">
	<div class="col-md-12">
		<%= label_tag :image_url %>
		<%= text_field_tag :image_url %>
	</div>
</div>
<div class='form-group'>
	<div class="col-md-9">
		<%= submit_tag :submit%>
	</div>
</div>