<%= hidden_field_tag :id, @object_id.nil? ? '' : @object_id %>
<div class="form-group">
	<div class="col-md-12">
		<%= label_tag :first_name %>
		<%= text_field_tag :first_name, @first_name.nil? ? '' : @first_name %>
	</div>
</div>
<div class="form-group">
	<div class="col-md-12">
		<%= label_tag :last_name %>
		<%= text_field_tag :last_name, @last_name.nil? ? '' : @last_name %>
	</div>
</div>
<div class="form-group">
	<div class="col-md-12">
		<%= label_tag :image_url %>
		<%= text_field_tag :image_url, @image_url.nil? ? '' : @image_url %>
	</div>
</div>
<div class='form-group'>
	<div class="col-md-9">
		<%= submit_tag :submit%>
	</div>
</div>